<% provide(:title, 'About') %>
<div id="wrap">
<h1>About</h1>
<p>
  These pages are currently under development, but if you are interested in creating them, do contact the Student Council Members.
  <br>
  Preferably: Vice President or Webpage maintenance Secretary(mridulsahu01@gmail.com).
</p>
</div>