<% provide(:title, "Forgot password") %>
<div id="wrap">
<br><br><br>
<div class="custom-form-class">
  <div class="wrapper">
    <%= form_for( :password_reset, url: password_resets_path , :html => {:class => 'login'}) do |f| %>

        <p class="title">Forgot password</p>

        <%= f.email_field :email, placeholder: 'Username'%>

        <i class="fa fa-user"></i>

        <button>

          <i class="spinner"></i>

          <span class="state">Submit</span>

        </button>

    <% end %>
  </div>
</div>
</div>