<% provide(:title, 'All users') %>
<div class="container">
<div id="wrap">
  <div class="row">
    <div class="col-md-12">
      <div class="index">
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
</div>
</div>
</div>
</div>
</div>