<footer class="footer" id="footer">
  <small>
    <a href="http://nitmeghalaya.in/nitm_web/index.php">NITM</a> Portal
    by Mridul Sahu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://nitmnotices.blogspot.in" target="_blank">Notices</a></li>
    </ul>
  </nav>
</footer>